.header {
    background: url('../../../public/assets/img/header.jpg') no-repeat center;
    background-size: cover;
    color: #fff;

    display: flex;
    justify-content: center;
    padding: 30px;

    @media (max-width: 400px) {
        padding: 10px;
    }

    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.headerInner {
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
        font-weight: 600;
        margin-bottom: 20px;
        font-size: 3rem;
    }

    .findField {
        width: 500px;
        position: relative;

        @media (max-width: 600px) {
            width: 100%;
        }

        input {
            width: 100%;
            display: block;
            margin: 0 auto;
            padding: 8px 10px;
            border: none;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.4rem;
            border-radius: 10px;
            transition: box-shadow 0.4s ease;

            &:focus {
                outline: none;
                border: none;
                box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.5);
            }
        }

        img {
            position: absolute;
            width: 25px;
            height: 25px;
            top: 3px;
            right: 5px;
            cursor: pointer;
        }

        button {
            background: transparent;
        }
    }

    .filters {
        margin-top: 20px;
        display: flex;
        gap: 35px;
        width: 100%;
        justify-content: center;

        @media (max-width: 400px) {
            gap: 15px;
        }

        label {
            margin-right: 5px;
            font-size: 1.6rem;
            display: block;
        }

        select {
            border-radius: 10px;
            margin-top: 8px;
            width: 150px;
            border: none;
            padding: 3px 5px;
            font-size: 1.4rem;

            @media (max-width: 400px) {
                width: 140px;
            }

            &:focus {
                outline: none;
                border: none;
            }
        }
    }
}
