.books {
    padding: 35px 0;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, min(220px, 100%));
    gap: 24px 25px;
}

.text {
    font-weight: 600;
    font-size: 20px;
    align-self: center;
    margin: 25px 0 20px;
    text-align: center;
}

.img {
    display: flex;
    justify-content: center;
    border-radius: 10px;

    img {
        min-width: 340px;
        width: 550px;
        border-radius: 10px;
    }
}
